In [5]:
import pandas as pd

In [6]:
ecom = pd.read_csv(r"C:\PyCodes\Sample - PythonDataScience&MachineLearning\Python-for-Data-Analysis\Pandas\Pandas Exercises\Ecommerce Purchases.csv")

In [46]:
ecom['engineer' in ecom['Job']]

KeyError: False

In [7]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [9]:
list(ecom.columns)

['Address',
 'Lot',
 'AM or PM',
 'Browser Info',
 'Company',
 'Credit Card',
 'CC Exp Date',
 'CC Security Code',
 'CC Provider',
 'Email',
 'Job',
 'IP Address',
 'Language',
 'Purchase Price']

In [13]:
count_df = pd.DataFrame(data=[sum(ecom['AM or PM']=='AM'), sum(ecom['AM or PM']=='PM')], 
                        index=['AM', 'PM'], 
                        columns=['Count'])

In [14]:
count_df

    Count
AM   4932
PM   5068

In [20]:
am_price = ecom[ecom['AM or PM']=='AM']['Purchase Price']
pm_price = ecom[ecom['AM or PM']=='PM']['Purchase Price']

In [21]:
meanprice_df = pd.DataFrame(data=[am_price.mean(), pm_price.mean()], 
                            index=['AM', 'PM'], 
                            columns=['Avg Price'])

In [22]:
meanprice_df

    Avg Price
AM  50.186511
PM  50.503779

In [23]:
pd.concat([count_df, meanprice_df], axis=1)

    Count  Avg Price
AM   4932  50.186511
PM   5068  50.503779

In [35]:
df1 = ecom.groupby('AM or PM').apply(lambda x: x.Address.count())
df1

AM or PM
AM    4932
PM    5068
dtype: int64

In [36]:
df2 = ecom.groupby('AM or PM').apply(lambda x: x['Purchase Price'].mean())
df2

AM or PM
AM    50.186511
PM    50.503779
dtype: float64

In [42]:
df3 = ecom.groupby('AM or PM').apply(lambda x: x['Purchase Price'].median())
df3
df4 = ecom.groupby('AM or PM').apply(lambda x: x['Purchase Price'].std() * 2)
df4

AM or PM
AM    57.816265
PM    58.244534
dtype: float64

In [40]:
df = pd.concat([df1,df2,df3,df4], axis=1)
df

             0          1      2          3
AM or PM
AM        4932  50.186511  50.01  28.908133
PM        5068  50.503779  51.04  29.122267

In [44]:
df[5] = df[3] / df[2]

In [45]:
df

             0          1      2          3         5
AM or PM
AM        4932  50.186511  50.01  28.908133  0.578047
PM        5068  50.503779  51.04  29.122267  0.570577