In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv(r"C:\PyCodes\Sample - PythonDataScience&MachineLearning\Python-for-Data-Analysis\Pandas\Pandas Exercises\Ecommerce Purchases.csv")

In [13]:
list(ecom.columns)

['Address',
 'Lot',
 'AM or PM',
 'Browser Info',
 'Company',
 'Credit Card',
 'CC Exp Date',
 'CC Security Code',
 'CC Provider',
 'Email',
 'Job',
 'IP Address',
 'Language',
 'Purchase Price',
 'Browser']

In [9]:
ecom['Browser Info'].apply(lambda x: x.split('/')[0]).unique()

array(['Opera', 'Mozilla'], dtype=object)

In [11]:
ecom['Browser'] = ecom['Browser Info'].apply(lambda x: x.split('/')[0])

In [12]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Browser
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,Opera
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,Opera
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,Mozilla
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,Mozilla
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,Opera

In [23]:
gp = ecom.groupby(['Browser', 'AM or PM'])['Purchase Price']

In [24]:
gp.count()

Browser  AM or PM
Mozilla  AM          3878
         PM          4046
Opera    AM          1054
         PM          1022
Name: Purchase Price, dtype: int64

In [25]:
gp.max()

Browser  AM or PM
Mozilla  AM          99.99
         PM          99.97
Opera    AM          99.81
         PM          99.90
Name: Purchase Price, dtype: float64

In [26]:
gp.min()

Browser  AM or PM
Mozilla  AM          0.00
         PM          0.00
Opera    AM          0.19
         PM          0.32
Name: Purchase Price, dtype: float64

In [27]:
gp.mean()

Browser  AM or PM
Mozilla  AM          50.130828
         PM          50.255613
Opera    AM          50.391385
         PM          51.486243
Name: Purchase Price, dtype: float64

In [33]:
df = pd.concat([gp.count(), gp.max(), gp.min(), gp.mean()], axis=1)

In [35]:
df.columns = 'Count Max Min Mean'.split()

In [36]:
df

                  Count    Max   Min       Mean
Browser AM or PM
Mozilla AM         3878  99.99  0.00  50.130828
        PM         4046  99.97  0.00  50.255613
Opera   AM         1054  99.81  0.19  50.391385
        PM         1022  99.90  0.32  51.486243

In [37]:
df.to_excel('practice_2.xlsx')

In [38]:
df.to_html('practice_2.html')