In [67]:
import pandas as pd

In [68]:
ecom = pd.read_csv(r"C:\PyCodes\Sample - PythonDataScience&MachineLearning\Python-for-Data-Analysis\Pandas\Pandas Exercises\Ecommerce Purchases.csv")

In [69]:
# ecom = ecom[ecom['Job'].apply(lambda x: 'engineer' in x.lower())]

In [70]:
list(ecom.columns)

['Address',
 'Lot',
 'AM or PM',
 'Browser Info',
 'Company',
 'Credit Card',
 'CC Exp Date',
 'CC Security Code',
 'CC Provider',
 'Email',
 'Job',
 'IP Address',
 'Language',
 'Purchase Price']

In [71]:
count_ser = ecom.groupby('AM or PM')['Address'].count()

In [72]:
count_ser

AM or PM
AM    4932
PM    5068
Name: Address, dtype: int64

In [73]:
meanprice_ser = ecom.groupby('AM or PM')['Purchase Price'].mean()

In [74]:
meanprice_ser

AM or PM
AM    50.186511
PM    50.503779
Name: Purchase Price, dtype: float64

In [75]:
stdprice_ser = ecom.groupby('AM or PM')['Purchase Price'].std()

In [76]:
medprice_ser = ecom.groupby('AM or PM')['Purchase Price'].median()

In [77]:
df = pd.concat([count_ser, meanprice_ser, stdprice_ser, medprice_ser], axis=1)

In [78]:
df

          Address  Purchase Price  Purchase Price  Purchase Price
AM or PM
AM           4932       50.186511       28.908133           50.01
PM           5068       50.503779       29.122267           51.04

In [79]:
df.columns = 'Count Mean Std Median'.split()

In [80]:
df

          Count       Mean        Std  Median
AM or PM
AM         4932  50.186511  28.908133   50.01
PM         5068  50.503779  29.122267   51.04

In [81]:
# def add(a):
#     if a < 50: 
#         return 0
#     else: 
#         return a+1
# def add50(lst):
#     return sum([i for i in lst if i >= 50])

# lam_add50 = lambda x : sum([i for i in x if i >= 50])

# def second_price(lst):
#     return sorted(lst, reverse=True)[1]

# ecom.groupby('AM or PM')['Purchase Price'].apply(lambda x: sorted(list(x), reverse=True)[1])
# ecom.groupby('AM or PM')['Purchase Price'].apply(lambda x: sorted(list(map(add,list(x))), reverse=False)[1])
# ecom.groupby('AM or PM')['Purchase Price'].apply(lambda x: add50(list(x)))
# ecom.groupby('AM or PM')['Purchase Price'].apply(lambda x: second_price(list(x)))
# ecom.groupby('AM or PM')['Purchase Price'].apply(lambda x: lam_add50(list(x)))
# ecom.groupby('AM or PM')['Purchase Price'].apply(lambda c: sum([i for i in list(c) if i >= 50]))