In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

# Multi-level Index

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [10]:
df

             A         B
G1 1  0.122947 -0.368348
   2 -0.519105  0.326891
   3 -0.680412 -0.411450
G2 1  0.442413  0.902413
   2  1.051198 -0.645323
   3  0.410896  0.008533

In [16]:
df.loc['G1'].loc[2]

A   -0.519105
B    0.326891
Name: 2, dtype: float64

In [13]:
df['A']

G1  1    0.122947
    2   -0.519105
    3   -0.680412
G2  1    0.442413
    2    1.051198
    3    0.410896
Name: A, dtype: float64

In [19]:
df.iloc[3]

A    0.442413
B    0.902413
Name: (G2, 1), dtype: float64

In [24]:
df.loc['G1', 3]['B']

-0.4114499287941075

# Rename Index

In [20]:
df.index.names = ['Group', 'Num']

In [26]:
df.index.names

FrozenList(['Group', 'Num'])

In [21]:
df

                  A         B
Group Num
G1    1    0.122947 -0.368348
      2   -0.519105  0.326891
      3   -0.680412 -0.411450
G2    1    0.442413  0.902413
      2    1.051198 -0.645323
      3    0.410896  0.008533

# Cross-Section

In [27]:
df.xs('G1')

            A         B
Num
1    0.122947 -0.368348
2   -0.519105  0.326891
3   -0.680412 -0.411450

In [29]:
df.xs(1, level='Num')

              A         B
Group
G1     0.122947 -0.368348
G2     0.442413  0.902413

In [30]:
df.xs('B', axis=1)

Group  Num
G1     1     -0.368348
       2      0.326891
       3     -0.411450
G2     1      0.902413
       2     -0.645323
       3      0.008533
Name: B, dtype: float64