In [8]:
import numpy as np
import pandas as pd

In [9]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
dic = {'a': 10, 'b': 20, 'c':30}

In [11]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [14]:
arr

array([10, 20, 30])

In [15]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [16]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [17]:
dic

{'a': 10, 'b': 20, 'c': 30}

In [18]:
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [19]:
ser1 = pd.Series([1, 2, 3, 4], ['Arthur', 'Bill', 'Charles', 'David'])
ser2 = pd.Series([1, 5, 3, 4], ['Arthur', 'Evan', 'Charles', 'David'])

In [20]:
ser1

Arthur     1
Bill       2
Charles    3
David      4
dtype: int64

In [21]:
ser2

Arthur     1
Evan       5
Charles    3
David      4
dtype: int64

In [22]:
ser1['Charles']

3

In [23]:
ser1 + ser2

Arthur     2.0
Bill       NaN
Charles    6.0
David      8.0
Evan       NaN
dtype: float64